/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  background: -o-linear-gradient(57deg, #a5a5a5, #dfdfdf 70%, #af0101);
  background: linear-gradient(33deg, #a5a5a5, #dfdfdf 70%, #af0101);
  -webkit-animation: gradient 25s ease infinite;
          animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
}
@-webkit-keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  text-align: center;
}

.page-header {
  display: inline-block;
  width: 100%;
}
.page-header_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  float: right;
}
.page-header_item_logo {
  float: left;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 0.5;
  width: 100%;
  padding-top: 60px;
}

.main-navigation li {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
  font-size: 18px;
}
.main-navigation_item {
  display: inline-block;
}
.main-navigation_item--active {
  text-decoration: underline;
}

.about-main {
  width: auto;
  margin: auto;
  display: inline-block;
}
.about-main_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}
.about-main_skills {
  display: inline-block;
}

.work-main_grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  margin: auto;
}
.work-main_grid_item {
  background-color: #ff64645d;
  border-radius: 5%;
  width: 100%;
  min-height: 100%;
  margin: auto;
  h1 {
    font-size: 24px;
  }
}
.work-main_grid_item:last-child {
  -ms-grid-column: 4;
  grid-column: 4/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media all and (max-width: 500px) {
  .work-main_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 750px) {
  .work-main_grid_item {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .work-main_grid_item {
    grid-gap: 20px;
  }
  .work-main_grid_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
}

.index-main_circut-board {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes color-change {
  from {
    fill: #000000;
  }
  to {
    fill: #af0101;
  }
}
@keyframes color-change {
  from {
    fill: #000000;
  }
  to {
    fill: #af0101;
  }
}
@keyframes color-change {
  0% {
    fill: #000000;
  }
  50% {
    fill: #dfdfdf;
  }
  100% {
    fill: #af0101;
  }
}

button {
  border: none;
  font-family: inherit;
  background-color: rgb(139, 0, 0);
  color: white;
  text-decoration: none;
  padding: 6px;
  border-radius: 12px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  margin: 15px;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

a {
  color: #000000;
}
a:focus {
  cursor: pointer;
  opacity: 0.8;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #a5a5a5;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 14px;
  font-weight: 700;
}